{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="card m-5">
			<div class="card-body">
				<div class="d-flex flex-column mt-3">
					<h1 class="mb-4">Verify OTP</h1>

					{{ form_start(form) }}
					{{form_row(form.otp)}}
					{{ form_row(form.Verify) }}
					<a href="{{ path('app_otp_verification',{"id" : userId})}}" class="link-primary">Resend OTP</a>

					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
