{% extends 'base.html.twig' %}

{% block title %}
	Meeting View
{% endblock %}

{% block navbar_options %}
	{% if app.user.roles == is_granted( constant("App\\Entity\\User::ROLE_TEAM_MANAGER") )%}
		{{ include('teamManager/parts/_navbar_tm.html.twig')}}
	{% elseif app.user.roles == is_granted( constant("App\\Entity\\User::ROLE_PROJECT_MANAGER") )%}
		{{ include('projectManager/parts/_navbar_pm.html.twig')}}
	{% elseif app.user.roles == is_granted( constant("App\\Entity\\User::ROLE_USER") )%}
		{{ include('employee/parts/_navbar_employee.html.twig')}}
	{% endif %}
{% endblock %}
{% block OprationPannel %}
	<h1>Meetings View</h1>
	<div class="">
		<a href="{{path('meeting_view')}}">
			<button type="button" class="btn btn-primary m-3">View Meetings</button>
		</a>
	</div>

{% endblock %}
{% block body %}

	<div class="container">
		<fieldset disabled="disabled">
			{{ form_start(createMeetingForm) }}
			{{ form_row(createMeetingForm.subject) }}
			{{ form_row(createMeetingForm.meetingStartTime) }}
			{{ form_row(createMeetingForm.meetingEndTime) }}
			<select class="form-select" aria-label="Default select example">
				<option selected>{{ assignee.name}}
				</option>
			</select>
			{{ form_end(createMeetingForm,{'render_rest': false}) }}
		</fieldset>

	</div>
{% endblock %}
