<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		<li class="nav-item">
			<a class="nav-link text-white" href="{{path('show_employee')}}">Employee</a>
		</li>
		<li class="nav-item ">
			<a class="nav-link text-white" href="{{path('show_projects')}}">Project</a>
		</li>
		<li class="nav-item ">
			<a class="nav-link text-white" href="{{path('employee_request')}}">Employee Request</a>
		</li>
		<li class="nav-item ">
			<a class="nav-link text-white" href="{{path('payload')}}"> Payload </a>
		</li>
		<li class="nav-item ">
			<a class="nav-link text-white" href="{{path('transactions')}}"> Transactions </a>
		</li>

	{{ include("parts/_navbar_common.html.twig") }}
	</ul>
	{{ include("parts/_navbar_profile.html.twig") }}
</div>